.card {
  color: #6ea7d2; 
  max-width: 40rem; 
  border-color: #aac9e0;
  margin-bottom: 30px;
  align-content: center;
  box-shadow: 0 3px 6px rgba(115, 180, 206, 0.16), 0 3px 6px  rgba(115, 180, 206, 0.16);
}

.portfolio-card, .card-contact, .card-about{
  margin-bottom: 30px;
  align-content: center;
}